@import "../../shared/constants/variables";

.toolbar {
    width: 100%;
    height: $toolbar-height;
    background-color: transparent;
    border-bottom: 1.5px solid $border-color;
    display: grid;
    grid-template-columns: repeat(5, 0.5fr) 5fr repeat(3, 0.5fr);
    place-items: center;
}

.input {
    display: none;
}

.tool {
    display: inline-block;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 30px;
    height: 30px;
    font-size: 25px;
    svg {
        width: 20px;
        height: 20px;
    }
}

input[type=radio]:checked + label {
    background-color: #fff;
    border-radius: 5px;
}